.restaurant-item{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img{
  max-height: 300px;
  width: 100%;
}

.restaurant-item .caption{
  padding: 10px;
}

.my-restaurant{
  float:left;
  padding: 4px;
}

.my-restaurant img{
  max-height: 100px;
  width: 100px;
}

.ranking-item{
  margin-bottom: 15px;
}

.user-item{
  margin-bottom: 15px;
}

.user-item img{
  max-height: 200px;
  width: 100%;
}